<div id="index">
  <div class="jumbotron jumbotron-fluid index_jumbo" >


        <!-- <img src=url('logo.svgz') /> -->
        <img id="logo2" style="  " src='logo.png' />


        <p class="lead" style="font-family: 'Roboto', sans-serif; top:10px !important; z-index: -1;"><br>A Community Based Online Forum To Meet All Your Queries </p>


        <div class="wrapper">
              <img id="squiggle1"  style="  " src='squiggle1.png';  />
              <img id="squiggle2"style="  "  src='squiggle2.png';  />
        </div>

       
        <button type="button" class="btn btn-primary" id= "register"><a class="index-link" href="/signup">Registerr</a></button>
        <button type="button" class="btn btn-success" id= "login"><a class="index-link" href="/signin">Logon</a></button>


  </div>
</div>